{{template "header" .}}
<style>
    .py-5 {
        padding-top:10rem!important
    }
</style>
<main class="container">
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">春风十里不如你</h1>
                <p class="lead text-muted">不知道应该写点什么，反正就写着玩的，抄的Yii框架，可惜还没办法做到和他一样NB，欢迎大家使用、修改、提交代码和指正。</p>
                <p class="lead text-muted">UI部分使用最新<a href="https://getbootstrap.com/">bootstrap</a>版本，挺好看的</p>
                <p>
                    <a href="#" class="btn btn-lg btn-primary">Learn more</a>
                </p>
            </div>
        </div>
    </section>
</main>
{{template "footer" .}}